@font-face {
	font-family: 'Pomorsky';
	src:
		url('/fonts/pomorsky/Pomorsky-Regular.otf') format('opentype'),
		url('/fonts/pomorsky/Pomorsky-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
